<!--<!DOCTYPE html>-->
<!--<html>-->
<!--<head>-->
<!--    <title>Просмотр клиента</title>-->
<!--</head>-->
<!--<body>-->
<!--<h1>Просмотр клиента</h1>-->
<!--<p><strong>ID:</strong> <span th:text="${client.id}"></span></p>-->
<!--<p><strong>Имя:</strong> <span th:text="${client.fullName}"></span></p>-->
<!--<p><strong>Телефон:</strong> <span th:text="${client.phone}"></span></p>-->
<!--<p><strong>Email:</strong> <span th:text="${client.email}"></span></p>-->
<!--<a href="/clients?masterId=1">Назад к списку</a>-->
<!--</body>-->
<!--</html>-->